@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity!.Name!
        <a href="LogOut">Cerrar Sesión</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Regístrate</a>
        <a href="Login">Iniciar Sesión</a>
    </NotAuthorized>
</AuthorizeView>